.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__title {
    color: black;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
}
.header__center {
display: flex;
gap: 32px;
}
.header__center-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.header__end {
    display: flex;
    align-items: center;
}
.header__end-link {
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 8px 32px;
    border: 2px solid black;
    border-radius: 60px;
}
.header__end-image {
    width: 24px;
    height: 24px;
    padding: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 100%;
}
.hero {
    margin-top: 50px;
}
.hero__main {
    display: flex;
    justify-content: space-between;
}
.hero__left {
    padding-left: 30px;
    width: 60%;
}
.hero__left-title {
    font-size: 90px;
    font-weight: 500;
    color: black;
}
.hero__left-text {
    font-size: 14px;
    width: 383px;
}
.hlc {
    display: flex;
    align-items: center;
}
.hlc__link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 8px 32px;
    background-color: black;
    border-radius: 60px;
}
.hlc__image {
    width: 24px;
    height: 24px;
    padding: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 100%;
}
.hero__bottom {
    margin-top: 25px;
    background-color: #DCE9B1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hbl {
    display: flex;
    gap: 12px;
    align-items: center;
}
.hbl__group {
    display: flex;
    gap: -20px;
}
.hbl__group-image {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}
.hbl__text {
    width: 170px;
    font-size: 18px;
}
.hbr {
    display: flex;
    gap: 20px;
    padding-right: 32px;
}
.hbr__link {
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 8px 32px;
    background-color: rgba(160, 236, 47, 0.801);
    border: 2px solid yellowgreen;
    border-radius: 60px;
}
.hlb {
    margin-top: 150px;
    display: flex;
    gap: 40px;
}
.hlb__image {
    border-radius: 20px;
    width: 270px;
    height: 176px;
}
.hero__right {
    padding-right: 20px;
}
.about {
    margin-top: 50px;
}
.about__text {
    text-align: center;
    width: 116px;
    color: black;
    padding: 12px 8px;
    border: 2px solid black;
    border-radius: 30px;
}
.about__title {
    width: 100%;
    font-size: 60px;
}
.about__group {
    display: flex;
    justify-content: space-between;
}
.about__group-card {
    height: 440px;
}
.card1 {
    width: 407px;
    background-image:url(image/4b4c6b7d26486a78b539badfca7ee599.jpg);
    border-radius: 40px;
}
.card1__text {
    display: none;
    margin: 10px 20px;
    padding: 10px 8px;
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 30px;
    width: 116px;
}
.card1:hover {
    transition: all 0.3s;
    .card1__text {
        display: block;
    }
}
.card2 {
    width: 419px;
}
.card2__group {
margin-top: 300px;
}
.card2__group-image {
    border: 100%;
    padding: 10px 10px;
    border: 2px solid black;
}
.card3 {
    border-radius: 30px;
    width: 507px;
    background-image: url(image/4b4c6b7d26486a78b539badfca7ee599.jpg);
}
.card3__text {
    display: none;
    margin: 10px 20px;
    padding: 10px 8px;
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 30px;
    width: 116px;
}
.card3:hover {
    transition: all 0.3s;
    .card3__text {
        display: block;
    }
}